{% load 	static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
    <title>Csv to Line Graph</title>
</head>
<body>
    <canvas id="line-chart" width="100%" height="40px"></canvas>
    <script>
       const config = {
  type: "line",
  data: {
    labels: [],
    datasets: [{
      data: [], // Set initially to empty data
      label: "open",
      borderColor: "#3e95cd",
      fill: true
    },
    {
      data: [], // Set initially to empty data
      label: "predictions",
      borderColor: "#FF0000",
      fill: true
    }]
  },
  options: {
    scales: {
      xAxes: [{
        type: "time",
        distribution: "linear"
      }],
      title: {
        display: false
      }
    }
  }
};

const ctx = document.querySelector("#line-chart").getContext("2d");
const lineChart = new Chart(ctx, config);

const csvToChartData = csv => {
  const lines = csv.trim().split("\n");
  lines.shift(); // remove titles (first line)
  return lines.map(line => {
    const [date, high,low,open,close,volume,adj_close,predictions] = line.split(",");
    return {
      x: date,
      y: open
    };
  });
};
const csvToChartData1 = csv => {
  const lines = csv.trim().split("\n");
  lines.shift(); // remove titles (first line)
  return lines.map(line => {
    const [date, high,low,open,close,volume,adj_close,predictions] = line.split(",");
    return {
      x: date,
      y: predictions
    };
  });
};

csv_file_name= "{% static 'predictor/js/data_frame.csv'%}"

const fetchCSV = () => fetch(csv_file_name)
  .then(data => data.text())
  .then(csv => {
    lineChart.data.datasets[0].data = csvToChartData(csv);
    lineChart.data.datasets[1].data = csvToChartData1(csv);
    lineChart.update();
    setTimeout(fetchCSV, 5000); // Repeat every 5 sec
  });

fetchCSV(); // First fetch!



       

    </script>
    
</body>
</html>